.root{

display: flex;
justify-content: center;
height: 400px;
margin-top: 30px;


}


.album{

  display: flex;
  flex-direction: column;
}

.albumName{

  display: flex;
  justify-content: center;
  color: orange;
  font-size: 16px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}


.songAndDescription{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image{
  height: 250px;
  width: 20px;
  margin-bottom: 10px;

}

.songDescription{

justify-content: center;
display: flex;
color: orange;
font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
font-size: 23px;
margin: 40px 0


}
